@tailwind base;
@tailwind components;
@tailwind utilities;

/* add font face */
@font-face {
  font-family: "sequel";
  font-weight: 400;
  src: url("/sequel-400.ttf");
}
@font-face {
  font-family: "sequel";
  font-weight: 600;
  src: url("/sequel-600.ttf");
}
@font-face {
  font-family: "sequel";
  font-weight: 900;
  src: url("/sequel-600.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* components/ComingSoon.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.neonText {
  font-size: 4rem;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.9),
    0 0 40px rgba(255, 255, 255, 1);
  animation: neon-flicker 1.5s infinite alternate;
}

@keyframes neon-flicker {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4),
      0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.8),
      0 0 40px rgba(255, 255, 255, 1);
  }
  50% {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.3),
      0 0 7px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.7),
      0 0 30px rgba(255, 255, 255, 0.9);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.2),
      0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.6),
      0 0 20px rgba(255, 255, 255, 0.8);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "sequel", sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 768px) {
  #tour h2 {
    font-size: 2.9rem;
  }

  #tour h1 {
    font-size: 1.9rem;
  }
  .galeria {
    padding-bottom: 0; /* Elimina el padding inferior en mobile */
  }
}
